@using MinhaAgendaVer1.Enums
@model EventoModel
@{
    ViewData["Title"] = "Criando evento...";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a style="width:200px" class="btn btn-secondary" role="button" asp-controller="Usuario" asp-action="Index">Voltar</a>
    </div>

    <h1 class="display-4">Criar evento</h1>

</div>

<form asp-controller="Usuario" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="Tipo">Tipo de Evento</label>
  
        <select asp-for="Tipo" class="form-control">
            <option value="0">Selecione o tipo do evento</option>
            <option value="@EventoEnum.Exclusivo">Exclusivo</option>
            <option value="@EventoEnum.Compartilhado">Compartilhado</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Nome">Nome do Evento</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do seu evento">
        @Html.ValidationMessageFor(x => x.Nome)

    </div>

    <div class="form-group">
        <label for="Descricao">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite uma breve descrição">
        @Html.ValidationMessageFor(x => x.Descricao)

    </div>

    <div class="form-group">
        <label for="Data">Data</label>
        <input type="text" asp-for="Data" class="form-control" placeholder="Digite a data do seu evento">
        @Html.ValidationMessageFor(x => x.Data)

    </div>

    <div class="form-group">
        <label for="Local">Local</label>
        <input type="text" asp-for="Local" class="form-control" placeholder="Digite o local do seu evento">
        @Html.ValidationMessageFor(x => x.Local)

    </div>

    <div class="form-group">
        <label for="Participantes">Participantes</label>
        <input type="text" asp-for="Participantes" class="form-control" placeholder="Digite os participantes">
        @Html.ValidationMessageFor(x => x.Participantes)

    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar a sua agenda!</button>


</form>
